.title {
    text-align: center;
}

#lasagna {
    height: auto;
    width: 500px;
}
.description {
    text-align: center;
    font-weight: 900;
    color: aqua;
    font-family:Georgia;
}
.description.bacon {
    color: brown;
}
p {
    font-family:Georgia;
}
li {
    font-family: Verdana;
}
#maple {
    height: auto;
    width: 500px;
}
